/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
  Так стили написанные ниже будут иметь больший вес,
  чем стили в медиазапросе предпочтений пользователя
*/
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --decoration-item-color: #ff0070;
  --font-family: "IBM Plex Mono";
  --font-size: 18px;
  --display-header-decoration: block;
  --change-theme-menu-text-color: #ff0070;
  --change-theme-menu-button-hover-color: #ff0070;
  --change-theme-menu-button-focus-color: #ff0070;
  --change-theme-menu-button-active-color: #ff0070;
  --header-title-text-color: #db00ff;
  --text-shadow-color: #ff0070;
  --title-decor-color: #ff0070;
  --header-description-text-color: #000028;
  --section-title-color: #ff0070;
  --section-subtitle-color: #000028;
  --section-main-text-color: #f1b2ce;
  --section-main-text-accent-link-color: #f1b2ce;
}