.page {
  background-color: var(--background-color, #000028);
  background-image: var(--background-image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Стили блока header - отступы заданы в vh чтобы не выпадали блоки при изменении высоты */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 668px;
  margin-bottom: 40px;
  padding: 10px;
}

@media (width >=768px) {
  .header {
      margin-bottom: 60px;
      padding: 20px;
  }
}

/* Стили для декоративного элемента в блоках header и footer - красные уголки */

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decoration-item-color, #ff0070);
  border-right: 1px solid var(--decoration-item-color, #ff0070);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decoration-item-color, #ff0070);
  border-left: 1px solid var(--decoration-item-color, #ff0070);
}

@media (width >=768px) {
  .decorated-zone::before {
      top: 20px;
      right: 20px;
  }

  .decorated-zone::after {
      bottom: 20px;
      left: 20px;
  }
}

/* Стили декоративного элемента в блоке header - надпись REC с кружком */

.header__decoration {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-self: end;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  align-self: flex-start;
  padding-right: 10px;
  color: var(--decoration-item-color, #ff0070);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  line-height: 25px;
}

@media (width >=768px) {
  .header__decoration {
      top: 20px;
      right: 20px;
  }
}

.header__decoration::before {
  content: "REC";
  display: var(--display-header-decoration, block);
  font-size: var(--font-size, 18px);
}

.header__decoration::after {
  content: "";
  display: var(--display-header-decoration, block);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decoration-item-color, #ff0070);
  background: var(--decoration-item-color, #ff0070);
}

/* Стили блока с кнопками - меню переключения темы страницы */

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

@media (width >=1024px) {
  .header__theme-menu {
      justify-self: center;
      align-self: flex-start;
      margin-top: 0;
      padding-right: 0;
  }
}

.header__theme-menu-item {
  color: var(--change-theme-menu-text-color, #ff0070);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
}

.header__theme-menu-button {
  border: none;
  padding: 0 13px;
  font-size: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

@media (width >=1024px) {
  .header__theme-menu-list {
      flex-direction: row;
      gap: 10px;
  }
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--change-theme-menu-button-hover-color, #ff007040);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--change-theme-menu-button-focus-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--change-theme-menu-button-active-color, #ff0070);
  pointer-events: none;
}

/* Стили основного заголовка страницы в блоке header */

.header__title {
  justify-self: flex-start;
  color: var(--header-title-text-color, #db00ff);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
}

@media (width >=768px) {
  .header__title {
      margin-left: -20px;
      font-size: 120px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >=1024px) {
  .header__title {
      margin-left: -20px;
      font-size: 157px;
  }
}

/* Тень для заголовка в блоках header и footer */

.text-shadow {
  text-shadow: 4px 4px 0 var(--text-shadow-color, #ff0070);
}

/* Для ширины экрана от 1024px цвет тени одинаковый для светлой и темной темы */

@media (width >=1024px) {
  .text-shadow {
      --text-shadow-color: #ff0070;
  }
}

/* Стили блока с текстом с описание страницы в блоке header */

.header__description-text {
  justify-self: flex-end;
  align-self: center;
  max-width: 364px;
  color: var(--header-description-text-color, #000028);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-weight: bold;
  font-size: var(--font-size, 18px);
  line-height: 23.4px;
}

@media (width >=1024px) {
  .header__description-text {
      justify-self: end;
      align-self: flex-end;
      max-width: 491px;
      margin-bottom: 114px;
  }
}

/* Стили цветного фона для блоков с текстом - текст с описанием в header и заголовки в основной части страницы */

.title-decor {
  background-color: var(--title-decor-color, #ff0070);
}

/* Стили основной части страницы */

.main {
  display: grid;
  gap: 50px;
  margin-bottom: 40px;
  padding: 0 10px;
}

@media (width >=768px) {
  .main {
      gap: 80px;
      margin-bottom: 60px;
      padding: 0 20px;
  }
}

/* Стили заголовков блоков в основной части страницы */

.section_title {
  color: var(--section-title-color, #ff0070);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: var(--font-size, 18px);
}

/* Стили подзаголовков блоков в основной части страницы */

.section_secondary_title {
  color: var(--section-subtitle-color, #000028);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-weight: bold;
  font-size: var(--font-size, 18px);
  line-height: 1.3;
}

.main_section_ways_to_increase_focus .section_secondary_title {
  font-weight: normal;
}

/* Стили подзаголовков блоков в секции с картинками */

.section_sub_title {
  color: var(--section-subtitle-color, #000028);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-weight: bold;
  font-size: var(--font-size, 18px);
  line-height: 1.3;
}

/* Стили текстовых блоков в основной части страницы */

.section_text {
  color: var(--section-main-text-color, #f1b2ce);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: var(--font-size, 18px);
  line-height: 23.4px;
}

/* Задаем отступ снизу для всех блоков section_text кроме последних */

.section_text:not(:last-child) {
  margin-bottom: 20px;
}

/* Стили для ссылок в основной части страницы */

.section_link_accent {
  text-decoration: none;
  text-shadow: 4px 4px 0 var(--text-shadow-color, #ff0070);
}

.section_link_accent:hover {
  border-bottom: 1px solid var(--section-main-text-accent-link-color, #f1b2ce);
  text-decoration: none;
}

.section_link_accent:hover {
  border-bottom: 1px solid var(--section-main-text-color, #f1b2ce);
}

.section_link_accent:focus {
  outline: none;
}

.section_link_accent:focus-visible {
  outline: 1px solid var(--section-main-text-color, #f1b2ce);
}

/* Общие стили для всех блоков в основной части */

/* Стили для отдельного блока - секции */

.main_section {
  display: grid;
  gap: 20px;
}

/* В блоке с галереей отступ от заголовка до галереи отличается - переопределяем gap */

.section_ways_to_increase_focus_gallery {
  gap: 10px;
}

/* Медиазпросы для блоков в основной части  */

@media (width >=768px) {
  .main_section_why_focusing_hard {
      grid-template-columns: 1fr 2fr;
  }

  .main_section_what_decreases_focus .section_title {
      max-width: 236px;
  }

  .main_section_ways_to_increase_focus {
      grid-template-columns: 1fr 2fr;
  }

  .main_section_ways_to_increase_focus .section_title {
      max-width: 236px;
  }

  .section_ways_to_increase_focus_gallery {
      gap: 20px;
  }
}

@media (width >=1024px) {
  .main_section_why_focusing_hard {
      gap: 10px;
  }

  .main_section_what_decreases_focus .section_title {
      max-width: 315px;
  }

  .main_section_what_decreases_focus .section_content {
      grid-template-columns: 1fr 1fr 1fr;
  }

  .main_section_ways_to_increase_focus .section_title {
      max-width: 315px;
  }

  .main_section_ways_to_increase_focus {
      gap: 10px;
  }
}

/* Стили для контента внутри блока - секции */

.section_content {
  display: grid;
  gap: 20px;
}

/* В блоке с галереей отступ между карточками отличается - переопределяем gap */

.section_ways_to_increase_focus_gallery .section_content {
  gap: 10px;
}

/* Медиазпросы для галереи картинок */

@media (width >=768px) {
  .section_ways_to_increase_focus_gallery .section_content {
      grid-template-columns: 229px 1fr 1fr;
      grid-template-rows: repeat(3, min-content);
      gap: 20px;
  }

  .image-sunset {
      grid-column: span 2 / span 2;
  }

  .image-ice-cream {
      grid-row: span 2 / span 2;
      grid-column-start: 3;
  }

  .image-tape {
      grid-row: span 2 / span 2;
      grid-row-start: 2;
  }

  .image-books {
      grid-row-start: 2;
  }

  .image-street {
      grid-column: span 2 / span 2;
      grid-column-start: 2;
      grid-row-start: 3;
  }
}

@media (width >=1024px) {
  .section_ways_to_increase_focus_gallery .section_content {
      grid-template-columns: 315px 1fr 1fr;
      gap: 20px;
  }
}

/* Стили для отдельной карточки внутри контентного блока - секции */

.section_content_card {
  display: grid;
  grid-template-rows: min-content 1fr;
  gap: 10px;
}

/* Общие стили для изображений внутри блока с картинками */

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Стили футера */

.footer {
  position: relative;
  display: grid;
  align-items: center;
  height: 100vh;
  min-height: 668px;
  padding: 10px;
}

.footer-title {
  color: var(--header-title-text-color, #db00ff);
  font-family: var(--font-family, "IBM Plex Mono", monospace);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-align: center;
}

@media (width >=768px) {
  .footer-title {
      font-size: 120px;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >=1024px) {
  .footer-title {
      font-size: 157px;
  }
}